.card {
  min-height: 25rem;
  width: 18rem;
  border-radius: 2rem;
  overflow: hidden;
  position: absolute;
}

img {
  border-radius: 2rem;
  height: 20rem;
  width: 20rem;
  position: absolute;
}
h5 {
  position: absolute;
  z-index: 10;
  left: 100px;
  transform: translate(-50%, 0%);
  color: black;
  font-weight: 700;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h6 {
  position: absolute;
  z-index: 9;
  color: black;
  font-weight: 800;
  font-size: 2rem;
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.button-container {
  display: flex;
  width: 270px;
  justify-content: space-between;
  gap: 1rem;
}
.btn {
  height: 100px;
  width: 100px;
}
@media only screen and (max-width: 750px) and (min-width: 400px) {
  .button-container {
    flex-direction: column;
    justify-content: center;
  }
}
